# Node files
node_modules/**

# Editor files
.vscode/**

# Configuration files
.husky/**
.gitignore
dprint.json
eslint.config.mjs
tsconfig.eslint.json
tsconfig.json

# Project specific stuff
.github/**
docs/**
prompts/**
scripts/**
src/**
tests/**
